body {
  font-size: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

button,
input {
  font-size: inherit;
}


#answer-box {
  width: 6em;
}

#submit-button {
 width: 4em;
}

#guess-summary {
  margin-bottom: 24px;
}

#guess-summary input {
  zoom: 4;
}
